<launch>
   <!-- Simulation  -->
  <include file="$(find fluxauto_mapping)/src/launch/turtleworld.launch" />

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>
  
  <!-- AMCL  -->
  <include file="$(find fluxauto_mapping)/src/launch/amcl.launch" />
  <!-- move_base -->
  <include file="$(find fluxauto_mapping)/src/launch/move_base.launch" />

</launch>